/*GENERAL*/


* { 
  
    margin:0;
    padding:0; 
}

body {
    
    font-family: Arial,sans-serif;
    font-size: 15px;
    
}
h1,h2,h3,h4{color:#444;}

h1 {
    
    font-family: 'Crete Round',sans-serif;
    font-size: 45px;
    
    
    
}
h2{
    font-size: 55px;
    
    
    
}
h3 {
    font-size:30px;
}
h4 {
    font-size: 25px;
    
}

p{
    
    font-size: 15px;
    color: #777;
}

ul {
list-style: none;
     
}

a { text-decoration: none;
    color:#444;

}

.navbar li {font-weight: bold;}
.orange{
    
    color: #FFA500;
    
}

/*styling the header section */ 


.headerWrapper{

display:flex;
flex-direction: column;
align-items: center;

}

.navbar{
   
   flex-direction: column;
   align-items: center;
   

}
.navbar li {
    margin-bottom: 10px;

    
}



/*Media QUERIES*/

/*tablets media querie*/

@media screen and (min-width: 768px) {


    header h1 {

        margin-right: auto;
    }
    .navbar{
        display:flex;
        flex-direction: row;
        justify-content: center;
       
    
    }
    .navbar li {

        padding:20px;
        text-transform: uppercase;
    
       /* border: 2px solid black;*/
       
    }
    

}

/*desktop media querie*/
@media screen and (min-width: 1024px){

    .headerWrapper{

        display:flex;
        flex-direction: row;

    }

    header h1 {

        margin-right: auto;
    }
    .navbar{
        display:flex;
        flex-direction: row;
        justify-content: center;
       
    
    }
    .navbar li {

        padding:20px;
        text-transform: uppercase;
    
       /* border: 2px solid black;*/
       
    }
    
}

